<!-- Header -->
<div fxLayout="column" style="overflow-x: hidden;">
    <div>
      <mat-toolbar color="primary" class="top-level-header" fullscreen>
        <mat-toolbar-row>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip mat-raised-button (click)="back()" style="cursor: pointer;"
              >Back</mat-chip
            >
          </mat-chip-list>
          <span class="example-spacer"></span>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip
              mat-raised-button
              (click)="Logout()"
              style="cursor: pointer;"
              >Logout</mat-chip
            >
          </mat-chip-list>
        </mat-toolbar-row>
      </mat-toolbar>
    </div><br>
  
  
 <!-- CARASOUL -->
        <owl-carousel-o [options]="customOptions" >
        <ng-template carouselSlide *ngFor="let cards of FeaturedDataofMovies;" 
        >
          <mat-card
          style="padding: 0;height: 228px;"

        >
          <mat-card-header class="Cardheader" style="border-top: 10px;"> </mat-card-header>
          <div fxLayout="row" fxLayoutAlign="space-between end" style="padding:1em">
            <p >{{ cards.Moviename }}</p>
            <div style="margin-bottom:20px;">
              <ngb-rating
                style="color: #FFDE72 ;width: 85px;"
                [(rate)]="cards.Starrating"
              ></ngb-rating>
            </div>
          </div>
        </mat-card>          
        </ng-template> 
      </owl-carousel-o>
    
    
  
  <!-- SELECTED MOVIE CARD -->
  
    <div fxFlexAlign="center" class="ClickedMovieCards" >
    <mat-card style="padding:0;border-radius: 10px;" >
      <mat-card-header  class="ClickedCardheader">
      </mat-card-header>
      <mat-card-content style="padding:5px !important;">
        <div fxLayout="row" fxLayoutAlign="space-between end" style="padding: 1em" >
          <p>{{Movienamevar}}</p>
        <div style="margin-bottom:15px;">
    <ngb-rating [(rate)]="Ratingsvar" style="color: #FFDE72 ;font-size: 20px;"
    ></ngb-rating>
      </div>
      </div>    </mat-card-content>
    </mat-card>
  </div>
  </div>
  