/* TOP HEADER */
.top-level-header {
    top: 0;
    margin:0;
    left: 0;
    height: 40px;
background-color: #FFDE72;    
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-chip.mat-standard-chip {
    background-color: #fffdfd !important;
    color: rgba(0,0,0,.87);
}
/* *********************************************************************************************************** */


/* CLICKED MOVIE CARD  */
.ClickedMovieCards{
    width: 43%;
    height: 342px;
    margin-top: 16px;
}

.ClickedCardheader{
  background-color: #E6E6E6;
  padding:128px;
  border-top: 10px;
}

.Cardheader {
  background-color: #E6E6E6;
  padding: 81px;
  border-top: 10px;
}

.stars{
  margin-bottom:20px;
}
/* *********************************************************************************************************** */

    /* MEDIA QUERY FOR Star ratings(small screens) */
@media   (min-width: 1024px) {
  .stars{
    margin-bottom:40px;
  }

}